.ratio-16-9 {
  @include maintain-ratio(16 9);
}

.ratio-4-3 {
  @include maintain-ratio(4 3);
}

.ratio-1-1 {
  @include maintain-ratio(1 1);
}

.ratio-3-4 {
  @include maintain-ratio(3 4);
}

.ratio-10-2 {
  @include maintain-ratio(10 2);
}

.ratio-10-4 {
  @include maintain-ratio(10 4);
}
