<span class="icon-star-wrap 1">
  {{> svg/icon-star-full}}
  {{> svg/icon-star-empty}}
  {{> svg/icon-star-empty}}
  {{> svg/icon-star-empty}}
  {{> svg/icon-star-empty}}
</span>
<span class="icon-star-wrap 2">
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-empty}}
  {{> svg/icon-star-empty}}
  {{> svg/icon-star-empty}}
</span>
<span class="icon-star-wrap 3">
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-empty}}
  {{> svg/icon-star-empty}}
</span>
<span class="icon-star-wrap 4">
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-empty}}
</span>
<span class="icon-star-wrap active 5">
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
  {{> svg/icon-star-full}}
</span>
