---
blog:
  posts:
    limit: 99
    summary: 250
---

{{#partial "page"}}

<section class="blog-index">
  {{> components/common/page-title
    title=blog.name
  }}
  <div class="blog-index-grid grid-container">
    {{#each blog.posts}}
      {{> components/blog/blog-item
        fit="image-cover"
        lazyload=../theme_settings.lazyload_mode
        fallback_size=../theme_settings.product-list
        default_image=../theme_settings.default_image
      }}
    {{/each}}
  </div>

  {{#if pagination.blog.links.length}}
    <footer class="pagination-wrapper">
      {{> components/common/pagination pagination.blog}}
    </footer>
  {{/if}}
</section>

{{/partial}}

{{> layout/base}}
