---
brand:
  products:
    limit: {{theme_settings.product_catalog_limit}}
---

{{#partial "page"}}

  <section
    class="product-catalog"
    {{#if brand.show_compare}}data-product-compare{{/if}}
  >
    {{{snippet 'brand'}}}

    {{> components/product-catalog/catalog-header
      catalog_type=brand
      pagination=pagination.brand
    }}

    {{{region name="brand_below_header"}}}

    <div class="facet-content" data-facet-content>
      {{> components/product-catalog/catalog-index}}
    </div>

    {{{region name="brand_below_content"}}}
  </section>

{{/partial}}

{{> layout/base}}
