---
product:
  reviews:
    limit: 99
  videos: true
  related_products:
    limit: {{theme_settings.related-products}}
---

{{#partial "page"}}

    <div class="product-details-header">
    {{#if quick_view}}
      <h1 class="product-title">
        <a href="{{product.url}}">
          {{product.title}}
        </a>
      </h1>
    {{else}}
      <h1 class="product-title">
        {{product.title}}
      </h1>
    {{/if}}
    
  <div class="single-product-page grid-container"  data-product-container>

    {{> components/product/images}}
    {{> components/product/details
      quick_view=false
      sale_badges=../theme_settings.sale-badges
      price=product.price
    }}

    {{> components/product/tabs}}

  </div>

  {{{region name="product_below_content"}}}

  <div class="single-product-page-related-products grid-container">
    {{#if product.related_products.length}}
      {{> components/product/related-products
        number=../theme_settings.related-products
      }}
    {{/if}}
  </div>

  {{> core/structured-data/product}}
  {{> core/structured-data/product-reviews}}

{{/partial}}
{{> layout/base}}

<script type="text/javascript"> 
var _learnq = _learnq || []; 

 var item = {
   Name: "{{product.title}}", 
   ProductID: "{{product.id}}",
   ImageURL: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}", 
   URL: "{{product.url}}",
   Brand: "{{product.brand.name}}", 
   Price: "{{product.price.without_tax.value}}",
   CompareAtPrice: "{{product.price.rrp_without_tax.value}}"
  };

_learnq.push(['track', 'Viewed Product', item]); 

_learnq.push(['trackViewedItem', {
   Title: item.Name, 
   ItemId: item.ProductID,
   ImageUrl: item.ImageURL, 
   Url: item.URL,

   Metadata: { 
     Brand: item.Brand,
     Price: item.Price, 
     CompareAtPrice: item.CompareAtPrice
 } 
 }]);
</script>

<script text="text/javascript">
	var _learnq = _learnq || [];
	document.getElementById("form-action-addToCart").addEventListener('click',function (){
 		_learnq.push(['track', 'Added to Cart', item]);
	});
</script>
