%account-card-style {
  background: $account-card-background-color;

  .form-input {
    background-color: $account-light-color;
  }
}

.account-card {
  @extend %account-card-style;
  padding: $account-gutter-inner;
  margin: $account-gutter-inner 0;
  border-radius: $account-border-radius;
}
