<div class="site-footer-credits">
  <ul class="site-footer-credits-list">
    {{#if theme_settings.store_copyright}}
      <li class="site-footer-credits-list-item">
        <p>&copy; <script>document.write(new Date().getFullYear())</script> {{settings.store_name}}</p>
      </li>
    {{/if}}

    {{#if theme_settings.theme_credits}}
      <li class="site-footer-credits-list-item">
        <p>Brixton theme by <a href="https://pixelunion.net" target="_blank" rel="nofollow">Pixel Union</a>,</p>
      </li>

      <li class="site-footer-credits-list-item">
        <p>Powered by <a href="http://www.bigcommerce.com/" target="_blank" rel="nofollow">BigCommerce</a></p>
      </li>
    {{/if}}
  </ul>
</div>
