<table
  class="geotrust-ssl-seal-table"
  width="135"
  border="0"
  cellpadding="2"
  cellspacing="0"
  title="{{lang 'core.geotrust.click_to_verify'}}"
>
  <tr>
    <td width="135" align="center" valign="top">
      <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name={{theme_settings.geotrust-ssl-common-name}}&amp;size={{theme_settings.geotrust-ssl-seal-size}}&amp;lang={{locale_name}}"></script><br />
      <a
        href="http://www.geotrust.com/ssl/"
        target="_blank"
        style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"
      ></a>
    </td>
  </tr>
</table>
