{{#if sort '===' 'relevance'}}
  {{lang 'common.sorter.relevance'}}
{{/if}}

{{#if sort '===' 'featured'}}
  {{lang 'common.sorter.featured'}}
{{/if}}

{{#if sort '===' 'newest'}}
  {{lang 'common.sorter.newest'}}
{{/if}}

{{#if sort '===' 'bestselling'}}
  {{lang 'common.sorter.top_sellers'}}
{{/if}}

{{#if sort '===' 'alphaasc'}}
  {{lang 'common.sorter.alpha_asc'}}
{{/if}}

{{#if sort '===' 'alphadesc'}}
  {{lang 'common.sorter.alpha_desc'}}
{{/if}}

{{#if sort '===' 'avgcustomerreview'}}
  {{lang 'common.sorter.reviews'}}
{{/if}}

{{#if sort '===' 'priceasc'}}
  {{lang 'common.sorter.price_asc'}}
{{/if}}

{{#if sort '===' 'pricedesc'}}
  {{lang 'common.sorter.price_desc'}}
{{/if}}
