.container {
    display: flex;
    padding-bottom: 12px;
}

.labelContainer {
    display: flex;
    flex: 1;
}

.image {
    margin-right: 8px;
    max-height: 58px;
    max-width: 58px;
}

.label {
    align-self: center;
    margin-right: 16px;
    font-size: 1rem;
    color: #4f4f4f;
    font-family: brandon-grotesque, Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.amount {
    align-self: center;
    font-size: 1rem;
    color: #4f4f4f;
    font-family: brandon-grotesque, Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.itemInfoContainer {
    display: flex;
    flex-direction: column;
}

.itemType {
    color: #989898;
    font-family: brandon-grotesque, Lato, sans-serif;
    font-weight: 400;
    font-size: 0.84615rem;
    line-height: 1.5;
}
