.account-invoice-date {
  margin-top: -20px;
  font-size: $account-font-size;
}

// Address

.account-invoice-addresses {
  @extend %clearfix;
  margin-top: $account-gutter;
  margin-bottom: $account-gutter;
}

.account-invoice-address {
  float: left;
  margin-right: $account-gutter;
}

.account-invoice-address-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: $account-font-size;
}

.account-invoice-address-body {
  line-height: 1.5;
}

// List

.account-invoice-table {
  .account-wrapper & {
    margin-bottom: 0;
  }

  th,
  td {
    padding-right: $account-gutter-inner;
    text-align: left;
    vertical-align: top;

    &:nth-of-type(0n+3) {
      width: 10%;
    }

    &:last-of-type {
      width: 160px;
      padding-right: 0;
      text-align: right;
    }
  }

  td:first-of-type {
    width: 60px + 25px;
  }
}

.account-invoice-item-thumbnail {
  width: 60px;
  height: auto;
}

.account-invoice-item-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.account-invoice-total-title {
  font-weight: bold;
}

// Totals

.account-invoice-totals {
  .account-wrapper & {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  th,
  td {
    padding-right: $account-gutter-inner;

    &:last-of-type {
      width: 160px;
      padding-right: 0;
      text-align: right;
    }
  }
}
