<form
  class="facet-control facet-control-{{display}} facet-control-{{toLowerCase facet}}"
  method="get"
  data-faceted-search-range
>
  {{#each current_selected_items}}
    <input type="hidden" name="{{param_name}}" value="{{param_value}}"/>
  {{/each}}

  <div class="form-field">
    <input
      class="form-input"
      name="min_price"
      min="0"
      type="number"
      value="{{min_price}}"
      placeholder="{{lang 'faceted_search.min_price'}}"
      required
    />
  </div>

  <div class="form-field">
    <input
      class="form-input"
      name="max_price"
      min="0"
      type="number"
      value="{{max_price}}"
      placeholder="{{lang 'faceted_search.max_price'}}"
      required
    />
  </div>

  <div class="form-actions">
    <input
      class="button button-secondary button-small"
      type="submit"
      value="{{lang 'faceted_search.update'}}"
    >
  </div>
</form>
